extends layout-col

block titlepart
	| #{title}

block username
	| Fine bunch of docs you got there, #{username}

block location
	| #{groupname}

block page-scripts
	script 
		$(document).ready(function(){
		
		});

block breadcrumbs
	span.divider
		>
	a(href="/groups")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon
block members
	div
		.column-menu.no-select#members Members
			span.chevron
				i.icon-chevron-up
				i.icon-chevron-down
		a(href="#",style="margin-top: -22px").btn.btn-small.pull-right
			i.icon-plus
			
		.column-content
			ul
				li member 1
				li member 2
				li member 3

block content
	h1.no-select#group-title Documents
		a(href="#",style="margin-left: 10px").btn.btn-small
			i.icon-plus
	table.table
		thead
			th Name
			th Last Edit
			th Upcoming Due Date
			th Delete
		tbody#group-data
			each doc in docs
				tr 
					td
						a(href="/editor/#{doc.name}")= doc.name
					td= doc.lastedit
					td= doc.upcoming
					td delete icon