extends layout-col

block titlepart
	| Group - #{name}

block username
	| #{username}

block location
	| #{name}

block page-scripts
	script 
		$(document).ready(function(){
			var groupname = "#{name}";
			var username= "#{username}";
			//because i'm too lazy to do real auth and this keeps the chat client from breaking if the server is reset
			if(username === "")
				username = "Peter";

			$('#create-document-link').click(function(){$('#create-document').modal()});
			//$('#chatlog').html("#{chatlog}");

			//*******
			//Sockets
			//*******
			var socket = io.connect('/')
			
			//On load, tell people you're connecting to the chat
			socket.emit('chat-join',{username: username});
			socket.on('chat-joined',function(data){
				$('#on-list').html("");
				data.chatusers.forEach(function(e){
					var out = "<span style=\"color: "+e.color+"\">"+e.username+"</span> ";
					$('#on-list').append(out);
				});
				$('#chatlog').scrollTop($('#chatlog').prop("scrollHeight"));
			});
			
			/// Create document \\\
			//TODO: add file upload
			$('#create').click(function(e){
				socket.emit('document-create',{
					"name":$('#document-name').val(),
					"notes":$('#notes').val(),
					"group": groupname
				});

				$('#create-document').modal('hide');
			});
			socket.on('document-created',function(data){
				//new group!
				window.location.reload(true);
				//var row = "<tr><td><a href='/editor/'"+data.name+">"+data.name+"</a></td><td>"+data.lastedit+"</td><td>"+data.upcoming+"</td><td><a href=\"\" class=\"btn rounded\"><i class=\"icon-remove\"></i></a></td></tr>";
				//$('#document-data').append(row);
			});
		});

block breadcrumbs
	span.divider
		>
	span(rel="tooltip",title="#{name} documents")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon-current
block duedates

block content
	h1.no-select#document-title Documents
		a(href="#create-document",style="margin-left: 10px").btn.btn-small#create-document-link
			| add 
			i.icon-plus
	.container-fluid
		.row-fluid
			.span10
				table.table
					thead
						th Name
						th Last Edit
						th Upcoming Due Date
						th Delete
					tbody#document-data
						each doc in docs
							tr 
								td
									a(href="/editor/#{name}/#{doc.name}")= doc.name
								td 
									| By #{doc.lastEditedBy} at #{doc.lastEdit}
								if (doc.upcoming === '')
									td No due dates set.
								else
									td= doc.upcoming
								td
									a(href="").btn.rounded
										i.icon-remove

	div(tabindex="-1",role="dialog",aria-labelledby="addLabel",aria-hidden="true")#create-document.modal.hide.fade
		.modal-header
			button(type="button",data-dismiss="modal",aria-hidden="true").close x
			| Create Document
		.modal-body
			| Document name:
			input(type="text")#document-name
			br
			| Notes:
			textarea(placeholder="Description of document")#notes
			br
			| File upload disabled during testing
		.modal-footer
			button(data-dismiss="modal",aria-hidden="true").btn#create Create!

block chatlog
	table.table
		each m in chatlog.msgs
			tr
				td
					span(style="color: #{m.color}") #{m.message}
					br
					span.chat-timestamp #{m.timestamp}