extends layout-col

block titlepart
	| Editor - #{name}

block username
	| #{username}

block location
	| #{name}

block breadcrumbs
	span.divider
		>
	a(href="/groups/#{group}",rel="tooltip",title="#{group} documents")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{group}/#{name}",rel="tooltip",title="#{name} editor")
		img(src="/images/breadcrumbs/doc.png").breadcrumbicon

block page-scripts
	script(src="/javascripts/whiteboard.js",type="text/paperscript",canvas="myCanvas")
	script 
		//move most of this to external script at some point
		$(document).ready(function(){
			var groupname = "#{group}";
			var username= "#{username}";
			window.docname = "#{name}"; // until a better solution is found for passing this info to the whiteboard
			window.erase = false;
			
			//TODO: implement chat here
			$('#chatbox').css("bottom","-13.6em");
			$('#currently-on').html("See doc page for chat");

			var socket = io.connect('/');
			socket.emit('drawing-load',{doc: window.docname});

			$('#myCanvas').css('margin-bottom',-1*$('#colab-container').height());
			$('#myCanvas').css("z-index",-1);
			$('#colab-container').css("opacity",.75);
			$('#insert-text').addClass('btn-success');

			//Tooltips
			$('[rel\=tooltip]').tooltip({animation: false});

			//Manage button clicking
			$('.btn-group a').not('#peak-mode').click(function(){
				window.erase = false;
				$('.btn-group a').not('#peak-mode').removeClass('btn-success');
				$(this).addClass('btn-success');
				if($(this).attr("id") === "erase-button")
					window.erase = true;
			});


			//Alternate between drawing and writing mode
			$('.drawing-mode, .writing-mode').click(function(){
				$(this).addClass('btn-success');
				if($(this).hasClass("writing-mode")){
					$('#peak-mode').show();
					$('#colab-container').css('z-index',1);
					$('#myCanvas').css('margin-bottom',-1*$('#colab-container').height());
					$('#myCanvas').css("z-index",-1);
					if(peakon)
						$('#colab-container').css("opacity",.75);
					else
						$('#myCanvas').css("opacity","");
				} else  {
					//$('#myCanvas').css('margin-bottom',-1*$('#colab-container').height());
					$('#peak-mode').hide();
					$('#myCanvas').css("z-index",1);
					$('#myCanvas').css("opacity",.75);
					$('#colab-container').css("z-index",-1);
					$('#colab-container').css("opacity",1);
				} 
			});

			$('#snapshot-button').click(function(){
				$(this).removeClass('btn-success');
				$('#create-snapshot').modal();
			});


			//Save history
			var typingTimeout;
			$('#colab').keyup(function(){
				if(typingTimeout != undefined)
					clearTimeout(typingTimeout);
				typingTimeout = setTimeout(saveHistory, 300);
			});

			function saveHistory(){
				var history = $('#colab').val();
				socket.emit('history-save',{text: history, doc:window.docname});
			}

			socket.on('history-saved', function(data){
				$('#lastEditedBy').html(data.lastEditedBy);
				var d = new Date(data.lastEdit);
				$('#lastEdit').html(""+d);
			});


			//Save snapshot
			$('#save').click(function(){
				var canvas = document.getElementById("myCanvas");
				var img    = canvas.toDataURL("image/png");
				socket.emit('snapshot-create',{name: $('#snapshot-name').val(), notes: $('#notes').val(), img: img, doc: docname});
				$('#create-snapshot').modal('hide');
			});

			//Init peak mode
			var peakon = true;
			$('#peak-mode .icon-eye-close').hide();
			$('#peak-mode').click(function(){
				if(peakon){
					$('#peak-mode .icon-eye-open').hide();
					$('#peak-mode .icon-eye-close').show();
					$('#peak-mode').addClass('btn-success');
					$('#peak-mode').addClass('btn-success');
					$('#colab-container').css("opacity",1);	
					$('#myCanvas').css("opacity",0);
					peakon = false;
				} else {
					$('#peak-mode .icon-eye-open').show();
					$('#peak-mode .icon-eye-close').hide();
					$('#peak-mode').removeClass('btn-success');
					$('#colab-container').css("opacity",.75);
					peakon = true;
				}	
			});
		});

block extra-info
	a(href="/editor/#{group}/#{name}/viewhistory").btn.view-link
		i.icon-time
		|  View History
	br
	br
	a(href="/editor/#{group}/#{name}/viewsnapshots").btn.view-link
		i.icon-camera
		|  View Snapshots
	br
	br


block canvas
	| Last edited by 
	span#lastEditedBy #{lastEditedBy}
	|  at 
	span#lastEdit #{lastEdit}
	br
	br
	.btn-toolbar
		.btn-group
			a(href="",rel="tooltip",title="Insert Text").btn.writing-mode#insert-text
				img(src="/images/textinput.png",style="width:16px").menu-button
			a(href="",rel="tooltip",title="Bold").btn.writing-mode
				i.icon-bold
			a(href="",rel="tooltip",title="Italic").btn.writing-mode
				i.icon-italic
			a(href="",rel="tooltip",title="Underline").btn.writing-mode
				img(src="/images/underline.png",style="width: 13px").menu-button
			a(href="",rel="tooltip",title="List").btn.writing-mode
				i.icon-list
		.btn-group
			a(href="",rel="tooltip",title="Align Left").btn.writing-mode
				i.icon-align-left
			a(href="",rel="tooltip",title="Align Center").btn.writing-mode
				i.icon-align-center
			a(href="",rel="tooltip",title="Align Right").btn.writing-mode
				i.icon-align-right
			a(href="",rel="tooltip",title="Justify").btn.writing-mode
				i.icon-align-justify
		.btn-group
			a(href="",rel="tooltip",title="Undo").btn.writing-mode
				img(src="/images/undo.png").menu-button
			a(href="",rel="tooltip",title="Redo").btn.writing-mode
				img(src="/images/redo.png").menu-button
			a(href="",rel="tooltip",title="Print").btn.writing-mode
				i.icon-print
			a(href="",rel="tooltip",title="Save to computer").btn.writing-mode
				i.icon-download-alt
		br
		br
		.btn-group
			a(href="",rel="tooltip",title="Draw").btn.drawing-mode#draw-button
				img(src="/images/draw-mode.png").menu-button
			a(href="",rel="tooltip",title="Erase").btn.drawing-mode#erase-button
				img(src="/images/eraser.png").menu-button
			a(href="",rel="tooltip",title="Delete All").btn.drawing-mode
				i.icon-trash
			a(href="",rel="tooltip",title="Save snapshot").btn.drawing-mode#snapshot-button
				i.icon-camera
		.btn-group
			a(href="",rel="tooltip",title="Toggle Whiteboard").btn.writing-mode#peak-mode
				i.icon-eye-close
				i.icon-eye-open

	.canvas
		canvas(height="600px",width="500px")#myCanvas.canvas
		form#colab-container
			textarea(rows="30",style="width: 500px")#colab
		script
			mobwrite.share("colab");

			

block content
	div(tabindex="-1",role="dialog",aria-labelledby="addLabel",aria-hidden="true")#create-snapshot.modal.hide.fade
		.modal-header
			button(type="button",data-dismiss="modal",aria-hidden="true").close x
			| Save Snapshot
		.modal-body
			| Snapshot name:
			input(type="text")#snapshot-name
			br
			| Notes:
			textarea(placeholder="Description of snapshot")#notes
		.modal-footer
			button(data-dismiss="modal",aria-hidden="true").btn#save Save!
