extends layout-col

block titlepart
	| Editor - #{name}

block username
	| #{username}

block location
	| #{name}

block breadcrumbs
	span.divider
		>
	a(href="/groups/#{group}")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{group}/#{name}")
		img(src="/images/breadcrumbs/doc.png").breadcrumbicon

block page-scripts
	script(src="/javascripts/whiteboard.js",type="text/paperscript",canvas="myCanvas")
	script 
		//move most of this to external script at some point
		$(document).ready(function(){
			var socket = io.connect('/');


			var groupname = "#{group}";
			var username= "#{username}";
			window.docname = "#{name}"; // until a better solution is found for passing this info to the whiteboard

			socket.emit('drawing-load',{doc: window.docname});

			$('#myCanvas').hide();
			$('#myCanvas-bar').hide();
			$('#sidebar').css("left",$('#colab').position().left+$('#colab').width()+20);
			$('#sidebar').css("top",$('#colab').position().top);

			window.erase = false;

			var peakon = false;
			var peak_state = false;

			$('.btn-group a').click(function(){
				window.erase = false;
				$('.btn-group a').not('#peak-mode').removeClass('btn-success');
				$(this).addClass('btn-success');
				if($(this).attr("id") === "erase-button")
					window.erase = true;
			});
			
			$('.sidebar').click(function(){
				var id = $(this).attr("id");
				if(id === "edit-mode"){

					//change buttons accordingly
					$('#edit-mode').addClass("btn-success");
					$('#draw-mode').removeClass("btn-success");
					$('#myCanvas').hide();
					$('#myCanvas-bar').hide();
					$('#colab').show();
					$('#colab-bar').show();

					$('#colab-container').css('margin-top',0);
					$('#colab-container').css('z-index',0);
					if(peak_state)
						$('#peak-mode').click();



				} else if(id === "draw-mode") {
					if(peakon){
						$('#peak-mode').click();
						peak_state = true;
					}
					//Change buttons accordingly
					$('#draw-button').addClass("btn-success");
					$('#draw-mode').addClass("btn-success");
					$('#edit-mode').removeClass("btn-success");
					$('#myCanvas').show();
					$('#myCanvas-bar').show();
					$('#colab-bar').hide();

					$('#colab-container').css('margin-top',-1*$('#myCanvas').height()-6);
					$('#myCanvas').css("opacity",.7);
					$('#myCanvas').css("z-index",1);
					$('#colab-container').css('z-index',-1);

				} 
			});

			$('#snapshot-button').click(function(){
				$(this).removeClass('btn-success');
				$('#create-snapshot').modal();
			});


			var typingTimeout;
			$('#colab').keyup(function(){
				if(typingTimeout != undefined)
					clearTimeout(typingTimeout);
				typingTimeout = setTimeout(saveHistory, 300);
			});

			function saveHistory(){
				var history = $('#colab').val();
				socket.emit('history-save',{text: history, doc:window.docname});
			}

			socket.on('history-saved', function(data){
				$('#lastEditedBy').html(data.lastEditedBy);
				var d = new Date(data.lastEdit);
				$('#lastEdit').html(""+d);
			});


			$('#save').click(function(){
				var canvas = document.getElementById("myCanvas");
				var img    = canvas.toDataURL("image/png");
				socket.emit('snapshot-create',{name: $('#snapshot-name').val(), notes: $('#notes').val(), img: img, doc: docname});
				$('#create-snapshot').modal('hide');
			});

			$('#peak-mode .icon-eye-open').hide();
			$('#peak-mode').click(function(){
				if(!peakon){
					$('#myCanvas').show();
					$('#myCanvas').css('margin-bottom',-1*$('#colab-container').height());
					$('#myCanvas').css("z-index",-1);
					$('#peak-mode .icon-eye-open').show();
					$('#peak-mode .icon-eye-close').hide();
					$('#colab-container').css("opacity",.7);
					peakon = true;
					peak_state = true;
				} else {
					$('#myCanvas').hide();
					$('#myCanvas').css('margin-bottom',0);
					$('#myCanvas').css('z-index',1);
					$('#peak-mode .icon-eye-open').hide();
					$('#peak-mode .icon-eye-close').show();
					$('#peak-mode').removeClass('btn-success');
					$('#colab-container').css("opacity",1);
					peakon = false;
					peak_state = false;
				}	

			});
		});

block extra-info
	a(href="/editor/#{group}/#{name}/viewhistory").btn.view-link
		i.icon-time
		|  View History
	br
	br
	a(href="/editor/#{group}/#{name}/viewsnapshots").btn.view-link
		i.icon-camera
		|  View Snapshots
	br
	br

block members
	div
		.column-menu.no-select#members Members
			span.chevron
				i.icon-chevron-up
				i.icon-chevron-down
		a(href="#add-member",style="margin-top: -22px").btn.btn-small.pull-right#add-member-link
			i.icon-plus
			
		.column-content
			each member in members
				div(style="background: #{member.color}").color-div
				| #{member.username}
				br

block canvas
	| Last edited by 
	span#lastEditedBy #{lastEditedBy}
	|  at 
	span#lastEdit #{lastEdit}

	.btn-toolbar#colab-bar
		.btn-group
			a(href="").btn
				i.icon-bold
			a(href="").btn
				i.icon-italic
			a(href="").btn
				i.icon-list

		.btn-group
			a(href="").btn
				i.icon-align-left
			a(href="").btn
				i.icon-align-center
			a(href="").btn
				i.icon-align-right
			a(href="").btn
				i.icon-align-justify
		.btn-group
			a(href="").btn
				i.icon-print
			a(href="").btn
				i.icon-download-alt
			a(href="").btn
				i.icon-repeat
		.btn-group
			a(href="").btn.sidebar#peak-mode
				i.icon-eye-close
				i.icon-eye-open

	.btn-toolbar#myCanvas-bar
		.btn-group
			a(href="").btn#draw-button
				img(src="/images/draw-mode.png").menu-button
			a(href="").btn
				i.icon-font
			a(href="").btn#erase-button
				img(src="/images/eraser.png").menu-button
			a(href="").btn
				i.icon-trash

		.btn-group
			a(href="").btn#snapshot-button
				i.icon-camera
			a(href="").btn
				i.icon-print
			a(href="").btn
				i.icon-repeat

	.canvas
		canvas(height="600px",width="500px")#myCanvas.canvas
		form#colab-container
			textarea(rows="30",style="width: 500px")#colab
		script
			mobwrite.share("colab");
	div(style="position: fixed;")#sidebar
		a(href="").btn.sidebar.btn-success#edit-mode
			img(src="/images/edit-mode.png")
		br
		br
		a(href="").btn.sidebar#draw-mode
			img(src="/images/draw-mode.png")
		
	

block content
	div(tabindex="-1",role="dialog",aria-labelledby="addLabel",aria-hidden="true")#create-snapshot.modal.hide.fade
		.modal-header
			button(type="button",data-dismiss="modal",aria-hidden="true").close x
			| Save Snapshot
		.modal-body
			| Snapshot name:
			input(type="text")#snapshot-name
			br
			| Notes:
			textarea(placeholder="Description of snapshot")#notes
		.modal-footer
			button(data-dismiss="modal",aria-hidden="true").btn#save Save!
