extends layout-groups

block titlepart
	| #{title}

block username
	| #{username}

block page-scripts
	script 
		$(document).ready(function(){
			$('[rel\=tooltip]').tooltip({animation:false});
			$('#create-group-link').click(function(){$('#create-group').modal()});
			var socket = io.connect('/');
			$('#create').click(function(e){
				socket.emit('group-create',{
					"name":$('#group-name').val(),
					"notes":$('#notes').val(),
					"emails":$('#members-emails').val()
				});

				$('#create-group').modal('hide');
			});
			socket.on('group-created',function(data){
				//new group!
				window.location.reload(true);
				//var row = "<tr><td><a href='/groups/'"+data.name+">"+data.name+"</a><br/><span class='member-list'>"+data.memberNames+"</span></td><td>"+data.lastedit+"</td><td>"+data.upcoming+"</td><td><a href=\"\" class=\"btn rounded\"><i class=\"icon-remove\"></i></a></td></tr>";
				//$('#group-data').append(row);
			});
		});


block content
	h1.no-select#group-title Groups
		a(href="#create-group",style="margin-left: 10px").btn.btn-small#create-group-link
			| add 
			i.icon-plus
	table.table
		thead
			th Name
			th Last Edit
			th Upcoming Due Date
			th Delete
		tbody#group-data
			each group in groups
				tr 
					td
						a(href="/groups/#{group.name}")= group.name
						br
						span.member-list
							- var list = ""
							each member in group.members
								- list += member.username + ", "
							= list.substring(0,list.length-2)
					if (typeof group.documents[0] === 'undefined')
						td No documents!
					else
						td Last edited by #{group.lastEditedBy} at #{group.lastEdit}
					if (typeof group.documents[0] === 'undefined')
						td No documents!
					else
						td= group.documents.upcoming
					td
						a(href="").btn.rounded
							i.icon-remove

	div(tabindex="-1",role="dialog",aria-labelledby="addLabel",aria-hidden="true")#create-group.modal.hide.fade
		.modal-header
			button(type="button",data-dismiss="modal",aria-hidden="true").close x
			| Create Group
		.modal-body
			| Group name:
			input(type="text")#group-name
			br
			| Notes:
			textarea(placeholder="Description of group")#notes
			br
			| Add group members: 
			br
			textarea(placeholder="List of member's emails")#members-emails
		.modal-footer
			button(data-dismiss="modal",aria-hidden="true").btn#create Create!