extends layout-col

block titlepart
	| History - #{name}

block username
	| #{username}

block location
	| #{name} - History


block page-scripts
	script 
		$(document).ready(function(){
			var socket = io.connect('/');
			var groupname = "#{group}";
			var username= "#{username}";
			var maxPos = #{historyLength};
			window.docname = "#{name}"; // until a better solution is found for passing this info to the whiteboard

			$( "#slider" ).change(function(){
				var pos = $('#slider').val();//logslider($('#slider').val());
				pos = maxPos-pos-1;
				if(pos < 0)
					pos = 0;
				socket.emit('history-lookup',{pos: pos, doc: window.docname});
			});	

			socket.on('history-lookedup',function(data){
				$('#history-text').val(data.text);
				$('#date').html(data.date);
			});
		});

		function logslider(position) {
			// position will be between 0 and 100
			var minp = 0;
			var maxp = 100;

			// The result are between 0 and the number of history revisions
			//Todo: Shit, gotta reverse this data, oh well. 
			var minv = Math.log(1);
			var maxv = Math.log(#{historyLength});

			// calculate adjustment factor
			var scale = (maxv-minv) / (maxp-minp);

			return Math.floor(Math.exp(minv + scale*(position-minp)));
		}
block page-styles

block breadcrumbs
	span.divider
		>
	a(href="/groups/#{group}",rel="tooltip",title="#{group} documents")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{group}/#{name}",rel="tooltip",title="#{name} editor")
		img(src="/images/breadcrumbs/doc.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{group}/#{name}/viewhistory",rel="tooltip",title="#{name} history")
		img(src="/images/breadcrumbs/history.png").breadcrumbicon

block duedates
	
block chatbox


block content
	h1.no-select#group-title History
		
	.container-fluid
		.row-fluid
			.span10
				.alert 
					| The history revert function is not enabled in this demo
				input(type="range",min="0",max="100",value="0",style="width: 500px")#slider
				br
				| Date: 
				span#date
				br
				#revertbutton
					a(href="").btn
						i.icon-refresh 
						|  Revert
				form#history
					textarea(rows="30",style="width: 500px")#history-text