extends layout

block page-scripts
	script 
		$(document).ready(function(){
			var socket = io.connect('http://127.0.0.1:3000/');
			socket.on('updatechat', function(data){
				$('#container').append(data);
				console.log(data);
			});
			socket.on('notification', function (data) {
				console.log(data);
				$('#container').html(data.test.name);
				$('time').html('Last Update:' + data.time);
			});

			$('#data').change( function() {
				var message = $('#data').val();
				$('#data').val('');
				// tell server to execute 'sendchat' and send along one parameter
				socket.emit('sendchat', message);
			});
		});


block content
	#last-edit Last edited by #{last_editor} at #{last_editor_time} 
	form(action="/send", method="post")
		input(type="text",length="140",name="tweet")
		input(type="submit",value="Tweet")

	div= title 
		| beaches #{title}
		div#world hello world how are you? #{header}
		include partials/tweet.jade
	div#container content, bitches
