extends layout-col

block titlepart
	| Snapshots - #{name}

block username
	| #{username}

block location
	| #{name} - Snapshots

block page-scripts
	script 
		$(document).ready(function(){
			$('.snap-link').click(function(){
				var ref = $(this).attr("href").replace("#","");
				$('#snap-'+ref).modal();
			});
		});

block breadcrumbs
	span.divider
		>
	a(href="/groups/#{group}")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{group}/#{name}")
		img(src="/images/breadcrumbs/doc.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{group}/#{name}/viewsnapshots")
		img(src="/images/breadcrumbs/camera.png").breadcrumbicon
block members
	div
		.column-menu.no-select#members Members
			span.chevron
				i.icon-chevron-up
				i.icon-chevron-down
		a(href="#add-member",style="margin-top: -22px").btn.btn-small.pull-right#add-member-link
			i.icon-plus
			
		.column-content
			each member in members
				div(style="background: #{member.color}").color-div
				| #{member.username}
				br
block duedates
	
block chatbox


block content
	h1.no-select#snapshot-title Snapshots
		
	.container-fluid
		.row-fluid
			.span10
				table.table
					thead
						th Name
						th Created On
						th Created By
						th Notes
						th Delete
					tbody#snapshot-data
						each snapshot in snapshots
							tr 
								td
									a(href="##{snapshot.nospaces}",data-toggle="modal").snap-link #{snapshot.name}
									div(tabindex="-1",role="dialog",aria-labelledby="addLabel",aria-hidden="true",id="snap-#{snapshot.nospaces}").modal.hide.fade
										.modal-header
											| #{snapshot.name}
											button(type="button",data-dismiss="modal",aria-hidden="true").close x
										.modal-body
											img(src="/#{snapshot.imageLocation}")
								td= snapshot.creationDate
								td= snapshot.creator
								td= snapshot.note
								td
									a(href="").btn.rounded
										i.icon-remove