extends layout-col

block titlepart
	| #{title}

block username
	| Smile, #{username}

block location
	| #{docname} – Snapshots

block page-scripts
	script 
		$(document).ready(function(){
		
		});

block breadcrumbs
	span.divider
		>
	a(href="/groups/#{groupurl}")
		img(src="/images/breadcrumbs/groups.png").breadcrumbicon
	span.divider
		>
	a(href="/editor/#{docurl}")
		img(src="/images/breadcrumbs/camera.png").breadcrumbicon
block members
	div
		.column-menu.no-select#members Members
			span.chevron
				i.icon-chevron-up
				i.icon-chevron-down
		a(href="#",style="margin-top: -22px").btn.btn-small.pull-right
			i.icon-plus
			
		.column-content
			ul
				li member 1
				li member 2
				li member 3
block duedates
	
block chatbox


block content
	h1.no-select#group-title Snapshots
		
	.container-fluid
		.row-fluid
			.span10
				table.table
					thead
						th Name
						th Last Edit
						th Notes
						th Delete
					tbody#group-data
						each snapshot in snapshots
							tr 
								td
									a(href="##{snapshot.snapshoturl}",data-toggle="modal")= snapshot.name
								td= snapshot.lastedit
								td= snapshot.notes
								td
									a(href="").btn.rounded
										i.icon-remove